.session {
  padding: 12px;
  border: 1px solid brown;
  border-radius: 14px;
}

.session__title {
  font-size: 24px;
}

.session__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.session__clusters {
  display: grid;
  gap: 18px;
}

.cluster {
}

.cluster__sets {
  // border: 1px solid brown;
  border-radius: 12px;
  display: flex;
  gap: 8px;
}

.set {
  padding: 10px;
  border-radius: 14px;
  display: grid;
  justify-items: center;
}
