.wrap {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 2fr;
}

.words {
  display: grid;
  gap: 24px;
}

.wordsList {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  gap: 12px;
}

.wordButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 4px 8px;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s;
  cursor: pointer;

  &.active {
    background-color: yellowgreen;
  }
}

.phrasals {
  display: grid;
  gap: 24px;
  align-content: start;
}

.phrasalsList {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.listHeader {
  display: flex;
  justify-content: space-between;
}

.listViewBtns {
  display: flex;
  gap: 4px;
}
