.header {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto 1fr auto;
  grid-template-areas: 'theme navi profile';
  column-gap: 32px;

  a {
    color: #000;

    &.isActive {
      text-decoration: underline;
    }
  }
}

.logo {
  grid-area: logo;

  width: 64px;
}

.nav {
  grid-area: navi;
  display: flex;
  gap: 16px;
}

.switch {
  grid-area: theme;
  justify-self: end;
}

.profile {
  grid-area: profile;

  display: flex;
  gap: 16px;
  align-items: center;
}
