.phrasal {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 8px;
  color: #333;
  display: grid;
  gap: 8px;
}

.pharasalExamples {
  display: grid;
  gap: 8px;
  list-style: none;
}
